{% extends "base.html" %}

{% block head_extra %}

<!-- Bokeh CSS + JS -->
<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.css" type="text/css">
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.6.3.min.js"></script>

{% endblock %}

{% block main %}
    <h1>File types</h1>


    <p>Below is the stats on the different file types</p>


    <table id="FileTypeTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>File type</th>
                <th>Number of files</th>
                <th>Number of datasets</th>
                <th class="dt-right">Total size in GB</th>
            </tr>
        </thead>

        <tbody>
        {% for row in file_type_stats_summary|sort(attribute='number_of_files', reverse=True) %}
            <tr>
                <td>{{ row.file_type }}</td>
                <td>{{ "{:,}".format(row.number_of_files) }}</td>
                <td>{{ "{:,}".format(row.number_of_datasets) }}</td>
                <td class="dt-right">{{ "{:,.0f}".format(row.total_size_in_GB) if row.total_size_in_GB is not none else 'nan' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block script_extra %}
    <script>
        $(document).ready(function() {
            $('#FileTypeTable').DataTable({
                "order": [[1, 'desc']],
                autoWidth: false,
                // Disable the highlight/bold style on the sorted column
                orderClasses: false,
            });
        });
    </script>
{% endblock %}