{% extends "base.html" %}

{% block head_extra %}

<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/date-1.5.5/sb-1.8.2/datatables.min.css" rel="stylesheet" integrity="sha384-I4/lBH5Ccr4H+zWkgZKgw+25BTqhOtQ19dxtlM831GM+YFw3OTWq2i12hoyfbfG7" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/dt/dt-2.2.2/date-1.5.5/sb-1.8.2/datatables.min.js" integrity="sha384-tIv+/jMSAROhLvH+FmDUrriZf12whWUskuKSHrpD9poD1Wn5pzQM8PPBeB9qtgtM" crossorigin="anonymous"></script>

<!-- HTMX -->
<!-- https://htmx.org/ -->
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

<!-- Ellisis -->
<style>
    .ellipsis {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}

{% block main %}
<section class="section">
    <h1>GRO files</h1>

    <p>Below is the GRO files summary:</p>

    <table id="GROFilesTable"
    class="table is-striped is-hoverable"
    style="width:100%"
    hx-get="/all_gro_files_data"
    hx-trigger="load once"
    hx-target="#GROFilesTable">
        
    </table>
</section>
{% endblock %}

{% block script_extra %}
    <script>
        document.body.addEventListener('htmx:afterSwap', function(evt) {
            if (evt.detail.target.id === "GROFilesTable") {
            // Re-initialize DataTables
            $('#GROFilesTable').DataTable({
               "order": [[2, 'desc']],
                autoWidth: false,
                orderClasses: false,
                layout: {
                    topStart: {
                        searchBuilder: {
                            // columns: [1, 2, 3, 4, 5, 6]
                        }
                    }
                },
                columnDefs: [
                { width: '11%', targets: 0 },    // datset origin
                { width: '11%', targets: 1 },    // dataset id
                { width: '20%', targets: 2 },    // file name
                { width: '13%', targets: 3 },    // atom_number
                { width: '9%', targets: 4 },   // has_protein
                { width: '9%', targets: 5 },    // has_nucleic
                { width: '9%', targets: 6 },    // has_lipid
                { width: '9%', targets: 7 },    // has_glucid
                { width: '9%', targets: 8 },    // has_water_ion
            ],
            });
            }
        });
    </script>
{% endblock %}
