{% extends "base.html" %}

{% block head_extra %}

<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/date-1.5.5/sb-1.8.2/datatables.min.css" rel="stylesheet" integrity="sha384-I4/lBH5Ccr4H+zWkgZKgw+25BTqhOtQ19dxtlM831GM+YFw3OTWq2i12hoyfbfG7" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/dt/dt-2.2.2/date-1.5.5/sb-1.8.2/datatables.min.js" integrity="sha384-tIv+/jMSAROhLvH+FmDUrriZf12whWUskuKSHrpD9poD1Wn5pzQM8PPBeB9qtgtM" crossorigin="anonymous"></script>

<!-- Ellisis -->
<style>
    .ellipsis {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}

{% block main %}
<section class="section">
    <h1>GRO files</h1>

    <p>Below is the GRO files summary:</p>

    <table id="GROFilesTable" class="table is-striped is-hoverable" style="width:100%">
        <thead>
            <tr>
                <th>dataset origin</th>
                <th>dataset id</th>
                <th>file name</th>
                <th class="has-text-left">atom_number</th>
                <th>has_protein</th>
                <th>has_nucleic</th>
                <th>has_lipid</th>
                <th>has_glucid</th>
                <th>has_water_ion</th>
            </tr>
        </thead>

        <tbody>
        {% for gro_file in gro_files %}
            <tr>
                <td>{{ gro_file.file.dataset.origin.name if gro_file.file.dataset.origin.name else 'N/A' }}</td>
                <td>{{ gro_file.file.dataset.id_in_origin }}</td>
                <td class="ellipsis" title="{{ gro_file.file.name }}">{{ gro_file.file.name }}</td>
                <td class="has-text-left">{{ "{:,.0f}".format(gro_file.atom_number) }}</td>
                <td>{{ gro_file.has_protein }}</td>
                <td>{{ gro_file.has_nucleic }}</td>
                <td>{{ gro_file.has_lipid }}</td>
                <td>{{ gro_file.has_glucid }}</td>
                <td>{{ gro_file.has_water_ion }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

{% block script_extra %}
    <script>
        $(document).ready(function() {
            $('#GROFilesTable').DataTable({
                "order": [[2, 'desc']],
                autoWidth: false,
                orderClasses: false,
                layout: {
                    topStart: {
                        searchBuilder: {
                            // columns: [1, 2, 3, 4, 5, 6]
                        }
                    }
                },
                columnDefs: [
                { width: '11%', targets: 0 },    // datset origin
                { width: '11%', targets: 1 },    // dataset id
                { width: '20%', targets: 2 },    // file name
                { width: '13%', targets: 3 },    // atom_number
                { width: '9%', targets: 4 },   // has_protein
                { width: '9%', targets: 5 },    // has_nucleic
                { width: '9%', targets: 6 },    // has_lipid
                { width: '9%', targets: 7 },    // has_glucid
                { width: '9%', targets: 8 },    // has_water_ion
            ],
            });
        });
    </script>
{% endblock %}
