{% extends "base.html" %}

{% block head_extra %}

<!-- Bokeh CSS + JS -->
<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.css" type="text/css">
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.6.3.min.js"></script>

<!-- Ellisis -->
<style>
    .ellipsis {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}

{% block main %}
<section class="section">
    <h1>MDP files</h1>

    <p>Below is the MDP files summary:</p>

    <table id="MDPFilesTable" class="table is-striped is-hoverable" style="width:100%">
        <thead>
            <tr>
                <th>File name</th>
                <th>Dt</th>
                <th>Nsteps</th>
                <th>Temperature</th>
                <th>Thermostat</th>
                <th>Barostat</th>
                <th>Integrator</th>
            </tr>
        </thead>

        <tbody>
        {% for file in mdp_files %}
            <tr>
                <td class="ellipsis" title="{{ file.file.name }}">{{ file.file.name }}</td>
                <td>{{ file.dt }}</td>
                <td>{{ file.nsteps }}</td>
                <td>{{ file.temperature }}</td>
                <td>{{ file.thermostat.name }}</td>
                <td>{{ file.barostat.name }}</td>
                <td>{{ file.integrator.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

{% block script_extra %}
    <script>
        $(document).ready(function() {
            $('#MDPFilesTable').DataTable({
                "order": [[2, 'desc']],
                autoWidth: false,
                orderClasses: false,
                columnDefs: [
                { width: '35%', targets: 0 },    // File name
                { width: '10%', targets: 1 },    // Dt
                { width: '10%', targets: 2 },   // Nsteps
                { width: '10%', targets: 3 },    // Temperature
                { width: '10%', targets: 4 },    // Thermostat
                { width: '15%', targets: 5 },    // Barostat
                { width: '10%', targets: 6 },    // Integrator
            ],
            });
        });
    </script>
{% endblock %}