{% extends "base.html" %}

{% block head_extra %}

<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/date-1.5.5/sb-1.8.2/datatables.min.css" rel="stylesheet" integrity="sha384-I4/lBH5Ccr4H+zWkgZKgw+25BTqhOtQ19dxtlM831GM+YFw3OTWq2i12hoyfbfG7" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/dt/dt-2.2.2/date-1.5.5/sb-1.8.2/datatables.min.js" integrity="sha384-tIv+/jMSAROhLvH+FmDUrriZf12whWUskuKSHrpD9poD1Wn5pzQM8PPBeB9qtgtM" crossorigin="anonymous"></script>

<!-- HTMX -->
<!-- https://htmx.org/ -->
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

<!-- Ellisis -->
<style>
    .ellipsis {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}

{% block main %}
<section class="section">
    <h1>MDP files</h1>

    <p>Below is the MDP files summary:</p>

    <table id="MDPFilesTable"
       class="table is-striped is-hoverable"
       style="width:100%"
       hx-get="/all_mdp_files_data"
       hx-trigger="load once"
       hx-target="#MDPFilesTable">
       <!-- HTMX content goes here-->
    </table>

</section>
{% endblock %}

{% block script_extra %}
    <script>
        document.body.addEventListener('htmx:afterSwap', function(evt) {
            if (evt.detail.target.id === "MDPFilesTable") {
            // Re-initialize DataTables
            $('#MDPFilesTable').DataTable({
                autoWidth: false,
                orderClasses: false,
                layout: {
                    topStart: {
                        searchBuilder: {
                            // columns: [1, 2, 3, 4, 5, 6]
                        }
                    }
                },
                columnDefs: [
                    { width: '11%', targets: 0 },    // datset origin
                    { width: '11%', targets: 1 },    // dataset id
                    { width: '19%', targets: 2 },    // file name
                    { width: '8%', targets: 3 },    // dt
                    { width: '10%', targets: 4 },    // nsteps
                    { width: '8%', targets: 5 },    // temperature
                    { width: '10%', targets: 6 },    // thermostat
                    { width: '15%', targets: 7 },    // barostat
                    { width: '8%', targets: 8 },    // integrator
                ],
            });
            }
        });

        // $(document).ready(function() {
        //     $('#MDPFilesTable').DataTable({
        //         autoWidth: false,
        //         orderClasses: false,
        //         layout: {
        //             topStart: {
        //                 searchBuilder: {
        //                     // columns: [1, 2, 3, 4, 5, 6]
        //                 }
        //             }
        //         },
        //         columnDefs: [
        //             { width: '11%', targets: 0 },    // datset origin
        //             { width: '11%', targets: 1 },    // dataset id
        //             { width: '19%', targets: 2 },    // file name
        //             { width: '8%', targets: 3 },    // dt
        //             { width: '10%', targets: 4 },    // nsteps
        //             { width: '8%', targets: 5 },    // temperature
        //             { width: '10%', targets: 6 },    // thermostat
        //             { width: '15%', targets: 7 },    // barostat
        //             { width: '8%', targets: 8 },    // integrator
        //         ],
        //     });
        // });

    </script>
{% endblock %}