<!-- templates/parameter_table_template.html -->

<thead>
    <tr>
        <th>dataset origin</th>
        <th>dataset id</th>
        <th>file name</th>
        <th>dt</th>
        <th>nsteps</th>
        <th>temperature</th>
        <th>thermostat</th>
        <th>barostat</th>
        <th>integrator</th>
    </tr>
</thead>

<tbody>
{% for param_file in param_files %}
    <!-- The numerical columns are being inserted as string values. In order to convert them back
    into numerical values, ve add '|float' to each of them so that we can later
    order the rows based on those columns-->
    <tr>
        <td>{{ param_file.dataset_origin if param_file.dataset_origin else 'N/A' }}</td>
        <td><a href="{{ param_file.dataset_url }}">{{ param_file.dataset_id_in_origin }}</a></td>
        <td class="ellipsis" title="{{ param_file.file_name }}">{{ param_file.file_name }}</td>
        <td>{{ param_file[0].dt|float }}</td>
        <td>{{ "{:,.0f}".format(param_file[0].nsteps|float) if param_file[0].nsteps|float is not none else 'N/A' }}</td>
        <td>{{ param_file[0].temperature|float }}</td>
        <td>{{ param_file.thermostat_name }}</td>
        <td>{{ param_file.barostat_name }}</td>
        <td>{{ param_file.integrator_name }}</td>
    </tr>
{% endfor %}
</tbody>