<!-- templates/topology_table_template.html -->

<!-- DataTables CSS + JS -->
  <!-- https://datatables.net/download/ -->
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">
  <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>

<thead>
    <tr>
        <th>dataset origin</th>
        <th>dataset id</th>
        <th>file name</th>
        <th class="has-text-left">atom_number</th>
        <th>has_protein</th>
        <th>has_nucleic</th>
        <th>has_lipid</th>
        <th>has_glucid</th>
        <th>has_water_ion</th>
    </tr>
</thead>

<tbody>
    {% for top_file in top_files %}
    <tr>
        <td>{{ top_file.file.dataset.origin.name if top_file.file.dataset.origin.name else 'N/A' }}</td>
        <td>{{ top_file.file.dataset.id_in_origin }}</td>
        <td class="ellipsis" title="{{ top_file.file.name }}">{{ top_file.file.name }}</td>
        <td class="has-text-left">{{ "{:,.0f}".format(top_file.atom_number) }}</td>
        <td>{{ top_file.has_protein }}</td>
        <td>{{ top_file.has_nucleic }}</td>
        <td>{{ top_file.has_lipid }}</td>
        <td>{{ top_file.has_glucid }}</td>
        <td>{{ top_file.has_water_ion }}</td>
    </tr>
    {% endfor %}
</tbody>
