<!-- templates/topology_table_template.html -->
<thead>
    <tr>
        <th>dataset origin</th>
        <th>dataset id</th>
        <th>file name</th>
        <th class="has-text-left">atom_number</th>
        <th>has_protein</th>
        <th>has_nucleic</th>
        <th>has_lipid</th>
        <th>has_glucid</th>
        <th>has_water_ion</th>
    </tr>
</thead>

<tbody>
    {% for top_file in top_files %}
    <tr>
        <td>{{ top_file.dataset_origin if top_file.dataset_origin else 'N/A' }}</td>
        <td><a href="{{ top_file.dataset_url }}">{{ top_file.dataset_id_in_origin }}</a></td>
        <td class="ellipsis" title="{{ top_file.file_name }}">{{ top_file.file_name }}</td>
        <!-- top_file[0] corresponds to the TopologyFile object with all it's columns -->
        <td class="has-text-left">{{ "{:,.0f}".format(top_file[0].atom_number|float) }}</td>
        <td>{{ top_file[0].has_protein }}</td>
        <td>{{ top_file[0].has_nucleic }}</td>
        <td>{{ top_file[0].has_lipid }}</td>
        <td>{{ top_file[0].has_glucid }}</td>
        <td>{{ top_file[0].has_water_ion }}</td>
    </tr>
    {% endfor %}
</tbody>
